//form designs
$border-outline: #eaf1f8;
$form-background-color: rgba(0, 0, 0, .03);

//colors
$white: rgb(252, 245, 245);
$submit-botton-color: rgba(3, 143, 143, .9);
$submit-botton-hover-color: rgba(4, 143, 143, .8);